.pull-left {
    float: left;
}

.rulespop {
  text-decoration: none;
  border-bottom:1px dotted;
  cursor:help; 
}

.cardfront {
  position: relative;
  margin: 15px 0;
  padding: 19px 19px 19px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.cardfront + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

.cardfront > p:last-child {
  margin-bottom: 0;
}
.cardfront .table,
.cardfront .progress,
.cardfront .well,
.cardfront .alert,
.cardfront .hero-unit,
.cardfront .pagination,
.cardfront .navbar,
.cardfront > .nav,
.cardfront blockquote {
  margin-bottom: 5px;
}
